*{
 font-size: 0.9rem;
 color: #A4B1CD!important;
 font-family: 'Quicksand', sans-serif;
}
.f{
    font-size: 0.8rem!important;
}
.logo{
    width: 30px;
    height: 30px;
}
.logo1{
    width: 40px;
    height: 40px;
}
.m-home{
    margin-left: 110px;
}
.cl1{
    color: #34D399!important;
}
.cl2{
    color: white!important;
}
.bg1{
    background-color: #121927;
}
.bg2{
    background: #141D2B;
}
.bg3{
    background-color: #34D399;
}
.bg4{
    background-color: #A4B1CD!important;;
}
.navbar{
    background-color: #141D2B;
}
.nav{
    height: 70px;
}
.active{
    color: #34D399!important;
}
.home a:hover{
    color: #34D399!important;
}
.footer li{
    transition: 0.5s;
}
.footer li:hover{
    color: #34D399!important;
    padding-left: 10px;
}
.m{
    margin-left: 50rem;
}
.hg{
    height: 80vh;
}
.hg1{
    height: 130vh;
}
.hg2{
    height: 100vh;
}
.hg3{
    height: 200vh;
}
.hg4{
    height: 60vh;
}
.hg7{
    height: 220vh;
}
.hg9{
    height: 80vh;
}
.hg10{
    height: 75vh;
}
.h{
    height: 50px;
    width: 50px;
}
.m--{
    margin-left: 30rem;
}
.m---{
    margin-left: 139px;
}
.height{
    margin-left: 620px;
}
.height1{
    margin-left: 550px;
}
.mt{
    margin-top: 130px;
}
.sl{
    margin-top: 60px;
    margin-left: 230px;
    width: 65%;
}
.sl-card{
    height: 500px;
}
.t-home{
    color: white!important;
    font-size: 50px;
    margin-top: 65px;
}
.thirdcard{
    height: 230px;
}
.thirdcard1{
    height: 100%;
    width: 310px;
}
.fouthcard{
    height: 330px;
    border: 1px solid #34D399;
}
.wo{
    width: 50%;
}
.carousel-control-prev{
    margin-left: -3%;
    margin-top: 220px;
    background-color: gray;
    height: 50px;
    width: 50px;
    border: 3px solid black;
    border-radius: 50%;
}
.carousel-control-next{
    margin-right: -3%;
    margin-top: 220px;
    background-color: gray;
    height: 50px;
    width: 50px;
    border: 3px solid black;
    border-radius: 50%;
}
.carousel-control-prev1{
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
    margin-left: -2%;
    margin-top: 220px;
    background-color: gray;
    height: 50px;
    width: 50px;
    border: 3px solid black;
    border-radius: 50%;
}
.carousel-control-next1{
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
    margin-left: 98%;
    margin-top: 220px;
    background-color: gray;
    height: 50px;
    width: 50px;
    border: 3px solid black;
    border-radius: 50%;
}
.active-link {
    border-bottom: 3px solid;
    transition: 0.2s linear;
    border-color:#34D399;
    color: #34d399!important;
  }
.navbar-control{
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    background-color:black;
    z-index: 5;
}
.menu-icon {
    width: 50px;
    height: 50px;
    /*background-color: #fff;*/
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-icon span {
    width: 40px;
    height: 4px;
    background-color:#34D399;
    position: absolute;
    border-radius: 25px;
    transition: 0.5s;
}
.menu-icon span:nth-child(1) {
    transform: translateY(-15px);
    width: 25px;
    left: 5px;
}
.menu-icon span:nth-child(2) {
    transform: translateY(15px);
    width: 15px;
    left: 5px;
}
.menu-icon.show span:nth-child(3) {
    transform: translateX(-60px);
    opacity: 0;
}
.menu-icon.show span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
    width: 40px;
    transition: 0.125s;
}
.menu-icon.show span:nth-child(2) {
    transform: translateY(0) rotate(315deg);
    width: 40px;
    transition: 0.25s;
}
.o-n:focus {
    box-shadow: none;
}
.form-control{
    border: 1px solid #141D2B;
}
.w-p{
    width: 25%;
}
.loading{
    width: 100%;
    height: 100vh;
    background-color: #121927;
    position: fixed;
    top: 0%;
    left: 0%;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 7;
}
.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #FFF;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid #34D399;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
@media screen and (max-width:460px) {
    .d-no{
        display: none;
    }
    .t-home{
        font-size: 31px;
    }
    .logo {
        width: 30px;
        height: 30px;
    }
    .w-home{
        width: 200px!important;
    }
    .sl{
        margin: auto;
        margin-top: 100px;
        width: 100%;
    }
    .sl-card{
        height: 600px;
    }
    .hg{
        height: 60vh;
    }
    .hg3{
        height: 150vh;
    }
    .hg4{
        height: 80vh;
    }
    .hg7{
        height: 335vh;
    }
    .hgonp{
        height: 150vh;
    }
    .w-phone{
        width: 200px;
    }
    .mt{
        margin-top: 30px;
    }
    .me--1{
        margin-right: 100px;
    }
    .fifth{
        height: 100vh;
    }
    .w-p{
        width: 100%;
    }
    .wo{
        width: 35%;
    }
    .menu-icon{
        transform: scale(0.8);
    }
    .carousel-control-prev1{
        margin-top: 35px;
        margin-left: -6%;
    }
    .carousel-control-next1{
        margin-top: 35px;
        margin-left: 91%;
    }
    .carousel-control-prev{
        margin-top: 500px;
        margin-left: 270px;
    }
    .carousel-control-next{
        margin-top: 500px;
        margin-right: -1px;
    }
    .m--{
        margin-left: 0rem;
    }
    .height{
        margin-left: 1rem;
    }
    .height1{
        margin-left: 1rem;
    }
    .m---{
        margin-left: 40px;
    }
    .hg9{
        height: 60vh;
    }
    .hg10{
        height: 100vh;
    }
    .ms----{
        margin-left: 36px;
    }
}