*{
 font-size: 0.9rem;
 color: #A4B1CD!important;
 font-family: 'Quicksand', sans-serif;
}
.logo{
    width: 50px;
    height: 50px;
}
.logo1{
    width: 40px;
    height: 40px;
}
.m-home{
    margin-left: 110px;
}
.cl1{
    color: #34D399!important;
}
.cl2{
    color: white!important;
}
.bg1{
    background-color: #121927;
}
.bg2{
    background: #141D2B;
}
.bg3{
    background-color: #34D399;
}
.bg4{
    background-color: #A4B1CD!important;;
}
.navbar{
    background-color: #141D2B;
}
.nav{
    height: 70px;
}
.active{
    color: #34D399!important;
}
.home a:hover{
    color: #34D399!important;
}
.footer li{
    transition: 0.5s;
}
.footer li:hover{
    color: #34D399!important;
    padding-left: 10px;
}
.m{
    margin-left: 50rem;
}
.hg{
    height: 80vh;
}
.hg1{
    height: 130vh;
}
.hg2{
    height: 100vh;
}
.hg3{
    height: 200vh;
}
.hg4{
    height: 60vh;
}
.h{
    height: 50px;
    width: 50px;
}
.mt{
    margin-top: 130px;
}
.sl{
    margin-top: 60px;
    margin-left: 230px;
    width: 65%;
}
.sl-card{
    height: 500px;
}
.t-home{
    color: white!important;
    font-size: 70px;
    margin-top: 65px;
}
.thirdcard{
    height: 230px;
}
.wo{
    width: 50%;
}
.carousel-control-prev{
    margin-left: -3%;
    margin-top: 220px;
    background-color: black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.carousel-control-next{
    margin-right: -3%;
    margin-top: 220px;
    background-color: black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.active-link {
    border-bottom: 3px solid;
    transition: 0.2s linear;
    border-color:#34D399;
    color: #34d399!important;
  }
.navbar-control{
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    background-color:black;
    z-index: 5;
}
.menu-icon {
    width: 50px;
    height: 50px;
    /*background-color: #fff;*/
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-icon span {
    width: 40px;
    height: 4px;
    background-color:#34D399;
    position: absolute;
    border-radius: 25px;
    transition: 0.5s;
}
.menu-icon span:nth-child(1) {
    transform: translateY(-15px);
    width: 25px;
    left: 5px;
}
.menu-icon span:nth-child(2) {
    transform: translateY(15px);
    width: 15px;
    left: 5px;
}
.menu-icon.show span:nth-child(3) {
    transform: translateX(-60px);
    opacity: 0;
}
.menu-icon.show span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
    width: 40px;
    transition: 0.125s;
}
.menu-icon.show span:nth-child(2) {
    transform: translateY(0) rotate(315deg);
    width: 40px;
    transition: 0.25s;
}
.o-n:focus {
    box-shadow: none;
}

@media screen and (max-width:460px) {
    .d-no{
        display: none;
    }
    .t-home{
        font-size: 31px;
    }
    .logo {
        width: 30px;
        height: 30px;
    }
    .w-home{
        width: 200px!important;
    }
    .sl{
        margin: auto;
        margin-top: 100px;
        width: 100%;
    }
    .sl-card{
        height: 600px;
    }
    .hg{
        height: 60vh;
    }
    .hg3{
        height: 150vh;
    }
    .hg4{
        height: 80vh;
    }
    .hgonp{
        height: 150vh;
    }
    .w-phone{
        width: 200px;
    }
    .mt{
        margin-top: 30px;
    }
    .me--1{
        margin-right: 100px;
    }
    .fifth{
        height: 160vh;
    }
    .wo{
        width: 35%;
    }
}